* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* input:focus {
  outline: none;
} */

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #fff;
  padding: 0 16px;
  /* background-color: #878c00; */
  /* background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png"); */
}

.highlight {
  background: url('/images/brush-stroke-banner-5.svg');
  background-repeat: no-repeat;
  background-position: -10px 47px;
  background-size: 100% 12%;
  /* offset-position: 0px -10px; */
  /* text-indent: -2em; */
  /* padding: 8px; */
  /* color: #000; */
}

.centered {
  height: 100h; /* Magic here */
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: rgb(245, 134, 52);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-highlight {
  box-shadow: 0px 0px 5px 5px rgba(255, 55, 55, 0.8);
  z-index: 1;
}

form.words {
  position: relative;
  /* width: 480px; */
  width: fit-content;
  margin: 130px auto 20px auto;
  /* background: #fff; */
  padding: 15px;
  /* border: 2px solid; */
  /* border-radius: 7px; */
  /* box-shadow: 0 1px 5px rgb(138, 137, 137); */
  text-align: center;
}

form.words h1 {
  font-weight: normal;
  font-size: 2.4rem;
  margin-bottom: 6px;
  font-family: inherit;
  /* resize: none; */
  /* text-align:; */

}

form.words input {
  border: 0;
  /* border-bottom: 2px solid; */
  background-color: #fff;
  /* border-radius: 3px; */
  /* width: 5rem; */
  font-size: 2.5rem;
  margin: 20px auto 0px auto;
  padding: 5px;
  /* text-align: center; */
}

form.words input:focus {
  outline: none;
}

form.words div.letter{
    /* background:red; */
    width: fit-content;
    margin: 0px 5px;
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    /* border-color: #00af91; */ 
}

form.words div.sentence{
  background: #fff;
  width: fit-content;
  margin: 0px 0px;
  display: inline-block;
}


form.words h5.sound{
  /* background:red; */
  /* color: yellow; */
  /* border: 2px solid;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 2px; */
  /* max-width: 50px; */
  /* resize: none; */
  /* text-align: center; */
  font-weight: normal;
  font-weight: 200;
  font-size: 1.5rem;
}

.letter {
  color: black;
  background-color: #fff;
  padding: 5px 20px;
  /* border-color: #00af91; */
}

/* .letter */
.letter.good {
  /* color: #fff; */
  /* color: #00af91; */
  background-color: #00af91;
  /* border-color: #00af91; */
  /* border: 2px solid; */
}

/* .letter */
.letter.bad {
  color: red;
}


form.words div.sentence {
  color: black;
  background-color:#fff;
  padding: 5px 1px;
  /* border-color: #00af91; */
}

form.words div.sentence.good {
  /* background-color: #00af91; */
  color: #00af91;
}

form.words div.sentence.bad {
  color: red;
}

