header {
  background-color: #ffcc29;
  margin: auto -16px;
  padding: 2px 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  /* justify-content: right; */
}

header div {
  width: 100%;
  color: #fff;
  /* display: inline-block; */
}

header h2.app-name {
  
  /* font-family: "McLaren", cursive;
  font-weight: 200; */
  display: inline-block;
}

header h2.lesson-title {
  /* color: #fff; */
  /* background-color: blue; */
  /* float: center; */
  text-align: center;
  margin: 0 auto;
  /* font-family: "McLaren", cursive;
  font-weight: 200; */
  width: 75%;
  display: inline-block;
  /* float: center; */
}

header h3.username {
  /* text-align: center; */
  align-items: right;
  /* color: #fff; */
  margin: auto 0;
  height: 100%;
  /* width: 33.33%; */
  display: inline-block;
}

/* header h3 {
  display: inline-block;
  color: #fff;
  float: right;  
  width: 33.33%;
} */

.home-center {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}