.simple-keyboard {
  max-width: 850px;
}

.simple-keyboard.hg-theme-default.myTheme {
  /* border: 5px solid rgb(255, 0, 0, 0.7); */
  /* border-radius: 10px; */
  margin: 10px;
  width: calc(100% - 20px);
}

.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: rgb(255, 0, 0, 0.7);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-highlight {
  box-shadow: 0px 0px 10px 5px rgba(255, 55, 55, 0.8);
  z-index: 1;
}